@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1 {
  font-size: 7em;
  text-align: center;
  margin: 0;
  font-family: "Sacramento", cursive;
}

h2 {
  text-align: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkgrey;
}

span {
  text-decoration: underline;
}

.body-body {
  padding: 15% 21% 21% 21%;

  margin: 0;

  background-color: #0e0c1a;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
