footer {
  text-align: center;

  padding: 0;

  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.copyright {
  color: rgb(255, 255, 255);
  font-size: 1em;
  padding-bottom: 2%;
}

.Icon {
  color: rgb(255, 255, 255);
  margin: 4% 2% 4% 2%;
}

.Icon:hover {
  color: #808080;
}
